<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSN API</title>
</head>
<body>
    <h1>DSN API</h1>
    <p>Welcome to my first REST API.</p>
    <div>
        <h2>Working</h2>
        <h3>GET Endpoints</h3>
        <p>'/' - This welcome page</p>
        <p>'/locations' - returns a dictionary with a "locations" key and value that is an array of location dictionaries.</p>
        <p>'/prefixes' - returns a dicitonary with a "prefix_list" key and a value of a dictionary of prefixes.</p>
        <p>'/prefixes/dsn' - returns a dictionary with a key of "dsn" and an array of dsn prefixes.</p>
        <p>'/prefixes/dsn/&lt;dsn_prefix&gt;' - returns a dictionary with a value of "prefix_list" and a value of an array of dictionaries of all dsn_prefixes.  Allows partial DSN matching and returns an array of matches.</p>
        <p>'/prefixes/comm' - returns a dictionary with a key of "comm" and a value of an array of commercial prefixes.</p>
        <p>'/prefixes/comm/&lt;comm_prefix&gt;' - returns a "comm" dictionary with an array of commercial prefixes.  Allows partial number matching and returns an array of matches. </p>
        <br>
        <h3>POST Endpoints</h3>
        <p>'/locations' - Use this endpoint to add a new location. </p>
        <p>{ "name": "Naval Station Rota"  }</p>
        <p>'/prefixes' - Use this endpoint to add a new DSN prefix </p>
        <p>{  "comm_prefix": "+49 6119 744", 
            "description": "Germany", 
            "dsn_prefix": "570", 
            "location_id": 20
        }</p>
        <br>
        <br>
        <h1>Disabled</h1>
        <br>            
        <h3>PATCH Endpoints</h3>
        <p>'/locations/&lt;int:location_id&gt;' - Submit a JSON object to update the name of the location. </p>
        <p>{ "name": "Naval Station Rota"  }</p>
        <p>'/prefixes/&lt;int:prefix_id&gt;' - Submit a JSON object to update information for a prefix.  Ensure the location_id associated with the prefix is a valid location id. </p>
        <p>{  "comm_prefix": "+49 6119 744", 
            "description": "Germany", 
            "dsn_prefix": "570", 
            "location_id": 20
        }</p>        
        <br>
        <h3>DELETE Endpoints</h3>
        <p>'/locations/&lt;int:location_id&gt;' - Delete a location by submitting a valid location_id to the endpoint. </p>
        <p>'/prefixes/&lt;int:prefix_id&gt;' - Delete a prefix by submitting a valid prefix_id to the endpoint. </p>
        <br>
    </div>

</body>
</html>